.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
}

th {
    background-color: #000000;
    color: white;
}

tr:nth-child(even) {
    background-color: #868686;
}

tr:hover {
    background-color: #ddd;
}